/********   HEADER START  ********/

.sticky-nav {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	z-index: 800;
}

.in-style-guide {
	z-index: 700;
}

#sticky-nav-containter, .sticky-nav-containter {
	background-color: #111;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px; 
	height: 110px;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
}

#sticky-nav-containter h2, .sticky-nav-containter h2 {
	font-size: 2em;
	flex: 1;
	font-family: voltage, sans-serif;
	font-style: normal;
	font-weight: 300;
	margin-bottom: 1em;
	margin-left: 1em;
	color:  #f6fdff ;
  }

  .defaultPage {  
	text-shadow: 0 0 10px rgba(255,255,255,1) ;
	text-shadow: 0 0 20px rgba(255,255,255,1) ;
	text-shadow: 0 0 30px rgba(255,255,255,1) ;
	text-shadow: 0 0 100px #1fd2ff ;
	text-shadow: 0 0 80px #1fd2ff ;
	text-shadow: 0 0 70px #1fd2ff;
	text-shadow: 0 0 40px #1fd2ff ;
  }

  .michaelsPageLogo h2 {
	color:  #fff6f8 ;
  
	text-shadow: 0 0 10px rgba(255,255,255,1) ;
	text-shadow: 0 0 20px rgba(255,255,255,1) ;
	text-shadow: 0 0 30px rgba(255,255,255,1) ;
	text-shadow: 0 0 100px #ff6b90 ;
	text-shadow: 0 0 80px #ff6b90 ;
	text-shadow: 0 0 70px #ff6b90 ;
	text-shadow: 0 0 40px #ff6b90;
  }

  .vicePageLogo h2 {
	color:  #fffef6;
  
	text-shadow: 0 0 10px rgba(255,255,255,1) ;
	text-shadow: 0 0 20px rgba(255,255,255,1) ;
	text-shadow: 0 0 30px rgba(255,255,255,1) ;
	text-shadow: 0 0 100px #ffef15 ;
	text-shadow: 0 0 80px #ffef15;
	text-shadow: 0 0 70px #ffef15 ;
	text-shadow: 0 0 40px #ffef15 ;
  }

  .dossierPageLogo h2 {
	color:  #8235ff ;
  
	text-shadow: 0 0 10px rgba(255,255,255,1) ;
	text-shadow: 0 0 20px rgba(255,255,255,1) ;
	text-shadow: 0 0 30px rgba(255,255,255,1) ;
	text-shadow: 0 0 100px #8235ff ;
	text-shadow: 0 0 80px #8235ff ;
	text-shadow: 0 0 70px #8235ff;
	text-shadow: 0 0 40px #8235ff ;
  }

  .vmfPageLogo h2 {
	color:  #f6fdff ;
  
	text-shadow: 0 0 10px rgba(255,255,255,1) ;
	text-shadow: 0 0 20px rgba(255,255,255,1) ;
	text-shadow: 0 0 30px rgba(255,255,255,1) ;
	text-shadow: 0 0 100px #1fd2ff ;
	text-shadow: 0 0 80px #1fd2ff ;
	text-shadow: 0 0 70px #1fd2ff;
	text-shadow: 0 0 40px #1fd2ff ;
  }
  

#sticky-nav-containter img, .sticky-nav-containter img{
	max-height: 110px;
	max-width: 300px;
	width: auto;
	height: auto;
}

#sticky-nav-containter .nav-logo, .sticky-nav-containter .nav-logo {
	flex: 1 40%;
}

#sticky-nav-containter ul, .sticky-nav-containter ul{
	flex: 1 10%;
	display: flex;
	/*justify-content: start;*/
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
}

#sticky-nav-containter ul li, .sticky-nav-containter ul li{
	text-decoration: none;
	background: none;
	color: #000;
	text-align: center;
	max-width: 150px;
	padding: 0;
	flex: 1 70%;
	font-family: 'Lato', sans-serif;
}

#sticky-nav-containter ul li a, .sticky-nav-containter ul li a {
	color:  #fff8f5 ;
}

/* a {
	background-color: #c0392b;
	color: #fff;
	text-align: center;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	border-radius: 2px;
} */

#sticky-nav-containter ul li a:hover, .sticky-nav-containter ul li a:hover{
	/* color: #e54b4b; */
	text-decoration: none;
	/* font-size: 1.1em; */
}

#sticky-nav-containter .navigation-hamburger, .sticky-nav-containter .navigation-hamburger {
	flex: 1 20%;
	align-self: flex-end;
}

.sticky-nav h1 {
	display: none;
}

/********   HEADER END   ********/

/********   FOOTER START   ********/

#footer-bottomedge2 h2 {
	/* color: #f6f2ec; */
	margin: 0;
	padding: 3px 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

footer {
	/* color: #f6f2ec; */
	/* background-color: #101010; */
	padding: 2rem;
}

/* footer h2{
	color: rgb(174, 50, 34);
	font-family: 'Lato';
	font-weight: lighter;
} */

#footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

#project-links {
	flex: 1 30%;
	display: flex;
	flex-direction: column;
	padding: 2rem 0 0.5rem 0;
}

#project-links a {
	text-decoration: none;
	/* background-color: #101010; */
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	/* color: #f6f2ec; */
	padding: 1em;
	text-transform: uppercase;
}

#project-links a:hover {
	/* color: #e54b4b; */
}

#footer-contacts {
	flex: 1 30%;
	display: flex;
	flex-direction: column;
	padding: 2rem 0 0.5rem 0;
}

#footer-contacts p {
	padding: 0;
}

#footer-contacts p span {
	padding-left: 3px;
	padding-right: 3px;
}

#open-hours {
	flex: 1 30%;
	padding: 2rem 0 0.5rem 0;
	/* color: #f6f2ec; */
}

#open-hours table {
	width: 100%;
	text-align: left;
}

#open-hours table th {
	display: none;
}

#open-hours table tr td {
	padding: 0.5em;
}

#open-hours table tr:nth-child(odd) td:first-child {
	width: 30%;
	/* background-color: #101010; */
}

#open-hours table tr:nth-child(even) td:first-child {
	width: 30%;
	/* background-color: #101010; */
}

#open-hours table tr td:first-child + td {
	width: 70%;
}
/***** Button FontAwesome *****/
#footer-container button {
	border: none;
	background:none;
	padding: 0;
	cursor: pointer;
}

.fa-facebook-square{
	/* color: #f6f2ec; */
}

.fa-instagram {
	/* color: #f6f2ec; */
}

/********   FOOTER END   ********/

/********   MEDIA QUERIES ********/
/* @media (max-width: 59em){
	
	#top img {
		max-width: 20rem;
		width: 90%;
	}
	
} */

/* @media (max-width: 1180px) {
	#sticky-nav-containter ul, .sticky-nav-containter ul {
		display: none;
	}
} */

@media(max-width: 900px) {
	/* should replace image here for smaller screen sizes */
	#sticky-nav-containter img, .sticky-nav-containter img{
		max-width: 200px;
		padding-top: 10px;
	}

	.sticky-nav a {
		line-height: 2em;
	}

	/* make open hour go to the next row in flexbox */
	#open-hours {
		/* align-self: stretch; */
		flex: 1 0 100%;
	}

	#open-hours table {
		width: 60%;
		text-align: left;
	}

	#open-hours table tr:nth-child(odd) td:first-child {
		width: 40%;
		/* background-color: #101010; */
	}
	
	#open-hours table tr:nth-child(even) td:first-child {
		width: 40%;
		/* background-color: #101010; */
	}
	
	#open-hours table tr td:first-child + td {
		width: 60%;
	}

}

@media(max-width: 760px) {
	.sticky-nav h2 {
		line-height: 1em;
		padding-right: 1em;
		margin-top: 0.6em;
	}

}

@media(max-width: 600px) {
	#footer-contacts {
		/* align-self: stretch; */
		flex: 1 0 100%;
	}

	#open-hours {
		/* align-self: stretch; */
		flex: 1 0 100%;
	}

	#open-hours table {
		width: 100%;
		text-align: left;
	}

	#open-hours table tr:nth-child(odd) td:first-child {
		width: 40%;
		/* background-color: #101010; */
	}
	
	#open-hours table tr:nth-child(even) td:first-child {
		width: 40%;
		/* background-color: #101010; */
	}
	
	#open-hours table tr td:first-child + td {
		width: 60%;
	}
}

@media(max-width: 450px) {
	/* should replace image here for smaller screen sizes */
	#sticky-nav-containter, .sticky-nav-containter{
		padding-left: 10px;
	}

	#sticky-nav-containter img, .sticky-nav-containter img{
		width: 150px;
		margin-top: 10px;
	}

	#header-bottomedge2 h2 {
		padding: 2px 4px 2px 6px;		
	}



	footer {
		padding: 0.3rem;
	}

	/* make open hour go to the next row in flexbox */
	#open-hours {
		/* align-self: stretch; */
		flex: 1 0 100%;
	}

	#open-hours table {
		width: 100%;
		text-align: left;
	}

	#open-hours table tr:nth-child(odd) td:first-child {
		width: 40%;
		/* background-color: #101010; */
	}
	
	#open-hours table tr:nth-child(even) td:first-child {
		width: 40%;
		/* background-color: #101010; */
	}
	
	#open-hours table tr td:first-child + td {
		width: 60%;
	}
}


