/********   HEADER START  ********/

.sticky-nav {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	z-index: 800;
}

.in-style-guide {
	z-index: 700;
}

#sticky-nav-containter, .sticky-nav-containter {
	background-color: #111;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px; 
	height: 110px;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
}

#sticky-nav-containter h2, .sticky-nav-containter h2 {
	font-size: 4em;
	line-height: 0em;
	flex: 1;
	font-family: voltage, sans-serif;
	font-style: normal;
	font-weight: 300;
	margin-bottom: 1em;
	margin-left: 0.2em;
	color:  #f6fdff ;
  }

a {
	text-decoration: none;
	transition: color 0.5s;
  }

  a:hover, a:focus, a:active {
	border-style: solid none; 
  }

  .defaultPage {  
	color:  #fffef6;
  
	text-shadow: 0 0 10px rgba(255,255,255,1) ;
	text-shadow: 0 0 20px rgba(255,255,255,1) ;
	text-shadow: 0 0 30px rgba(255,255,255,1) ;
	text-shadow: 0 0 100px #ffef15 ;
	text-shadow: 0 0 80px #ffef15;
	text-shadow: 0 0 70px #ffef15 ;
	text-shadow: 0 0 40px #ffef15 ;
  }

 section a {
	color: #ffd92e;
	transition: color 0.5s;
	font-weight: 700;
  }
  
 section a:active, section a:hover, section a:focus {
	color: #000;
	text-decoration: none;
  }

  .michaelsPageLogo h2 {
	color:  #fff6f8 ;
  
	text-shadow: 0 0 10px rgba(255,255,255,1) ;
	text-shadow: 0 0 20px rgba(255,255,255,1) ;
	text-shadow: 0 0 30px rgba(255,255,255,1) ;
	text-shadow: 0 0 100px #ff6b90 ;
	text-shadow: 0 0 80px #ff6b90 ;
	text-shadow: 0 0 70px #ff6b90 ;
	text-shadow: 0 0 40px #ff6b90;
  }

  .michaelsPage section a, .michaelsPage section em {
	color: #ff6b90;
	font-weight: 700;
  }
  
  .michaelsPage section a:active, .michaelsPage section a:hover, .michaelsPage section a:focus {
	background-color: #ffa2b9;
	color: #000;
	text-decoration: none;
  }

  .vicePageLogo h2 {
	color:  #fffef6;
  
	text-shadow: 0 0 10px rgba(255,255,255,1) ;
	text-shadow: 0 0 20px rgba(255,255,255,1) ;
	text-shadow: 0 0 30px rgba(255,255,255,1) ;
	text-shadow: 0 0 100px #ffef15 ;
	text-shadow: 0 0 80px #ffef15;
	text-shadow: 0 0 70px #ffef15 ;
	text-shadow: 0 0 40px #ffef15 ;
  }

  section a:active, section a:hover, section a:focus {
	background-color: #fff89b;
	color: #000;
	text-decoration: none;
  }

  .dossierPageLogo h2 {
	color:  #8235ff ;
  
	text-shadow: 0 0 10px rgba(255,255,255,1) ;
	text-shadow: 0 0 20px rgba(255,255,255,1) ;
	text-shadow: 0 0 30px rgba(255,255,255,1) ;
	text-shadow: 0 0 100px #8235ff ;
	text-shadow: 0 0 80px #8235ff ;
	text-shadow: 0 0 70px #8235ff;
	text-shadow: 0 0 40px #8235ff ;
  }

  .dossierPage section a, .dossierPage section em {
	color: #8235ff;
	font-weight: 700;
  }
  
   .dossierPage section a:active,  .dossierPage section a:hover, .dossierPage section a:focus {
	background-color: #c9a7ff;
	color: #000;
	text-decoration: none;
  }

  .vmfPage h2 {
	color:  #f6fdff ;
  
	text-shadow: 0 0 10px rgba(255,255,255,1) ;
	text-shadow: 0 0 20px rgba(255,255,255,1) ;
	text-shadow: 0 0 30px rgba(255,255,255,1) ;
	text-shadow: 0 0 100px #1fd2ff ;
	text-shadow: 0 0 80px #1fd2ff ;
	text-shadow: 0 0 70px #1fd2ff;
	text-shadow: 0 0 40px #1fd2ff ;
  }

  .vmfPage section a, .vmfPage section em {
	color: #0ab4df;
	font-weight: 700;
  }
  
  .vmfPage section a:active, .vmfPage section a:hover, .vmfPage section a:focus {
	background-color: #9ee6f8;
	color: #000;
	text-decoration: none;
  }
  

#sticky-nav-containter img, .sticky-nav-containter img{
	max-height: 110px;
	max-width: 300px;
	width: auto;
	height: auto;
}

#sticky-nav-containter .nav-logo, .sticky-nav-containter .nav-logo {
	flex: 1 40%;
}

#sticky-nav-containter ul, .sticky-nav-containter ul{
	flex: 1 9%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
}

#sticky-nav-containter ul li, .sticky-nav-containter ul li{
	text-decoration: none;
	background: none;
	color: #000;
	text-align: center;
	max-width: 150px;
	padding: 0.2em;
	flex: 1 70%;
	font-family: 'Lato', sans-serif;
}

#sticky-nav-containter ul li a, .sticky-nav-containter ul li a {
	color:  #fff8f5 ;
}

#sticky-nav-containter ul li a:hover, .sticky-nav-containter ul li a:hover{
	text-decoration: none;
}

#sticky-nav-containter .navigation-hamburger, .sticky-nav-containter .navigation-hamburger {
	flex: 1 25%;
	align-self: flex-end;
}

.sticky-nav h1 {
	display: none;
}

/********   HEADER END   ********/

/********   FOOTER START   ********/

#footer-bottomedge2 h2 {
	color: #000000;
	margin: 0;
	padding: 3px 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

footer {
	/* color: #f6f2ec; */
	/* background-color: #101010; */
	padding: 2rem;
}

/* footer h2{
	color: rgb(174, 50, 34);
	font-family: 'Lato';
	font-weight: lighter;
} */

#footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

#project-links {
	flex: 1 30%;
	display: flex;
	flex-direction: column;
	padding: 2rem 0 0.5rem 0;
}

#project-links a {
	text-decoration: none;
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding: 1em;
	text-transform: uppercase;
}

#footer-contacts {
	flex: 1 30%;
	display: flex;
	flex-direction: column;
	padding: 2rem 0 0.5rem 0;
}

#footer-contacts p {
	padding: 0;
}

#footer-contacts p span {
	padding-left: 3px;
	padding-right: 3px;
}

/***** Button FontAwesome *****/
#footer-container button {
	border: none;
	background:none;
	padding: 0;
	cursor: pointer;
}

.fa-facebook-square, .fa-instagram{
	color: #000000;
}

/********   FOOTER END   ********/

/********   MEDIA QUERIES ********/

@media(max-width: 900px) {
	/* should replace image here for smaller screen sizes */
	#sticky-nav-containter img, .sticky-nav-containter img{
		max-width: 200px;
		padding-top: 10px;
	}

	#sticky-nav-containter h2, .sticky-nav-containter h2 {
		font-size: 2em;
		line-height: 1.5em;
		margin-left: 1em;
	}

	#sticky-nav-containter ul, .sticky-nav-containter ul{
		flex: 1 30%;
	}

}

@media(max-width: 760px) {
	#sticky-nav-containter h2, .sticky-nav-containter h2 {
		margin-left: 0.5em;
	}

	#sticky-nav-containter ul, .sticky-nav-containter ul{
		flex: 1 50%;
	}

}

@media(max-width: 600px) {
	#footer-contacts {
		/* align-self: stretch; */
		flex: 1 0 100%;
	}

	#sticky-nav-containter h2, .sticky-nav-containter h2 {
		line-height:1em;
	}

	#sticky-nav-containter ul, .sticky-nav-containter ul{
		flex: 1 5%;
		margin-top: 1em;
	}

	#sticky-nav-containter ul li, .sticky-nav-containter ul li{
		text-align: right;
		padding-right: 1em;
	}

}

@media(max-width: 450px) {
	/* should replace image here for smaller screen sizes */
	#sticky-nav-containter, .sticky-nav-containter{
		padding-left: 10px;
	}

	#sticky-nav-containter img, .sticky-nav-containter img{
		width: 150px;
		margin-top: 10px;
	}

	#header-bottomedge2 h2 {
		padding: 2px 4px 2px 6px;		
	}

	footer {
		padding: 0.3rem;
	}

}


