/* Syle Guide Template from IAT339 Lecturer Andrew Hawryshkewich */

/* 
BASIC ELEMENTS 
*/

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-container {
  z-index: 999;
}

nav ul {
  margin: 0;
  padding: 0;
  padding-top: 9em;
}

nav li {
  list-style: none;
  padding: .75em;
}

nav a:hover, nav a:focus, nav a:target {
  text-decoration: none;
}

/* 
FLEX BOX ELEMENTS 
*/

/* Flex Box Template from IAT339 Lecturer Andrew Hawryshkewich */

.wrapper {
  display: flex;
}

.wrapper>* {
  padding: 10px;
  flex: 1 100%;
}

.main {
  text-align: left;
  flex: 1 1 auto;
  overflow: auto;
  padding: 2em;
}

/* HIDE SCROLL */

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */

.button-cancel {
  display: inline-block;
  color: #E34F0C;
  font-size: 0.9em;
  font-weight: bold;
  background-color: rgba(227, 79, 12, 0.2);
  text-decoration: none;
  margin: 0 1em 0.1em 0;
  padding: 0.5em 3em;
  -webkit-transition: border-color 0.5s ease-out;
  transition: border-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-cancel:hover, .button-cancel:focus {
  color: #f6f2ec;
  background-color: rgb(227, 79, 12);
}

.button-submit {
  display: inline-block;
  color: #171B0A;
  font-size: 0.9em;
  font-weight: bold;
  background-color: rgba(19, 19, 19, 0.2);
  text-decoration: none;
  margin: 0 1em 0.1em 0;
  padding: 0.5em 3em;
  -webkit-transition: border-color 0.5s ease-out;
  transition: border-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-submit:hover, .button-submit:focus {
  color: #f6f2ec;
  background-color: #171B0A;
}

/* 
CHRIS COYIER Float Labels and webkits https://css-tricks.com/float-labels-css/ 
*/

form {
  margin: 2em 0;
}

/**
* Make the field a flex-container, reverse the order so label is on top.
*/

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}

/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the
* pesky delay.
*/

label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input {
  font-size: 1.3em;
  background-color: #f6f2ec;
  border: 0;
  border-bottom: 1px solid #666;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0.2em 0;
  cursor: text;
  width:50%;
}

input:focus {
  outline: 0;
  border-bottom: 2px solid #9a2009;
}

/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/

input:placeholder-shown+label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  color: #9a2009;
  transform: translate(0, 2.125rem) scale(1.5);
}

/**
* By default, the placeholder should be transparent. Also, it should
* inherit the transition.
*/

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

/**
* Show the placeholder when the input is focused.
*/

input:focus::-webkit-input-placeholder {
  opacity: 1;
}

/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when
* there's something in the input at all.
*/

input:not(:placeholder-shown)+label, input:focus+label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

/* 
END CHRIS COYIER Float Labels and webkits https://css-tricks.com/float-labels-css/ 
*/


/* 
TYPOGRAPHY --------------
*/

ul {
  list-style: none;
  padding: 0em;
  color: #333;
}

ul ol {
  padding: 0 1em;
}

h1 {
  font-size: 2.2em;
  font-family: 'karmina', sans-serif;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-size: 1.8em;
  flex: 1;
  font-family: 'karmina', sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1em;
  color:  #222;
}

.styleguide section{
  border-top-style: solid;
  border-width: 2px;
  border-color: #222;
  margin-bottom: 2em;
}

.styleguide section:first-of-type {
  border-top-style: none;
  margin-top: 6em;
}

.styleguide h1 {
  padding-top: 1em;
}

/* .example {
  position: relative;
  background-color: #222;
}

.example h2 {
  color: white;
} */

h3 {
  font-family: 'karmina', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #222;
  font-size: 2.4em;
  padding-bottom: 0.5em;
}

.michaelsPage h3{
  color: rgb(255, 93, 128);
}

.vmfPage h3{
  color: rgb(38, 168, 255);
}

.dossierPage h3{
  color: rgb(129, 11, 184);
}

.vicePage h3{
  color: #FFD700;
}

h4 {
  color: #333;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0.2em;
}

p {
  font-family: 'Lato', sans-serif;
  padding: 0.2em 0 1em 0;
  margin-top: 0em;
}

/* 
TYPOGRAPHY end ------------------
*/

/*
  COMBINED ELEMENTS start -------------------
*/

/* PROJECT SECTION start*/

#hero-section {
  margin-top: 2.5em;
  margin-bottom: 2em;
}

.projects {
	display: flex;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-direction: column;

  margin: 1%;
	flex: 1 35%;

	background-color: rgb(253, 252, 251);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.35);
}

.project-image img {
  width: 100%;
}

.project-info {
  margin: auto;
  margin-bottom: 1em;
  text-align: center;
}

.projects h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}


/* PROJECT SECTION end*/


/* Generic Flex Container and Items (image and text) */

section {
    margin-top: 4em;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.fig-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-style: solid;
  border-width: 1px;
  border-color: #333;
}

figure img {
  width: 100%
}

figcaption {
  font-style: italic;
  font-weight: 300;
  font-size: .9rem;
  color:#f6f2ec;
  padding: 0.2em;
  background: rgba(0, 0, 0, 0.702);
}

.item-image {
  /* willset all of grow,shrink,and basis in one line (in that order) */
  display: inline-block;
  flex: 1 1 300px;
  margin: 0;
  /* px used because its an image based measurment */
}

/* HEADER NAV BAR start---------------*/

nav {
  flex: 0 0 auto;
}

/* HEADER NAV BAR start---------------*/



/*
  COMBINED ELEMENTS start -------------------
*/

/* See Header and Footer in header-footer.css */

/* SECONDARY RED NAV BAR start---------------*/

.page-nav {
  top: 6.875rem;
  display: flex;
  width: 100%;
  left: 0;
  position: fixed;
  flex-wrap: wrap;
  align-items: baseline;
  z-index: 800;
  justify-content: space-evenly;
  background-color: #ae3222;
}

.pn-item {
  flex: 0 1 9rem;
  /* type is rem based */
  padding: 1.2em .02em;
  color: rgb(196, 125, 116);
}

.pn-item:active, .pn-item:hover, .pn-item:focus {
  color:#f6f2ec;
  font-size: 1em;
}

/* SECONDARY RED NAV BAR start---------------*/



/*
  COMBINED ELEMENTS end -------------------
*/




/* 
MEDIA QUERY start ------------
*/

/* MEDIA QUERY 600 ------------*/

/* wants page break at 600, default font size is 16 so 900/16 = 56.25. Use that! */

/* 16 is used to translate between px to ems */

@media ( max-width: 920px ) {

  h1 {font-size: 2.0em;}

	.project-card {
		flex: 1 46%;
  }
  
  section:first-child  {
    margin-top: 2em;
  }

	.projects .project-card:first-child,
	.projects .project-card:nth-child(2) {
		flex: 2 70%;
	}

}

@media ( max-width: 800px ) {

  h1 {font-size: 1.6em;}

	.projects {
		padding: 0;
  }
  
  section:first-child  {
    margin-top: 1em;
  }

	.project-card {
		flex: 1 70%;
	}

}

@media ( max-width: 480px ) {

	.sort {
		align-self: flex-start;
  }

}

@media (max-width: 56.25em) {
  .page-nav {
    display: none;
  }
}

@media (max-width: 40em) {
  .nav-container {
    justify-content: flex-start;
  }
}


/***** Button FontAwesome *****/
footer button {
	border: none;
	background:none;
	padding: 0;
	cursor: pointer;
}

.fa-facebook-square{
	color: #f6f2ec;
}

.fa-instagram {
	color: #f6f2ec;
}
