#color-swatch-section {
	display: flex;
	flex-wrap: wrap;
}

.color-swatch  {
	flex: 10rem;
	max-width: 10rem;
	margin-left: 1rem;
	margin-top: 1rem;
}

.color-swatch .single-color:first-child {
	border-radius: 0.5rem 0.5rem 0 0;
}

.color-swatch .single-color:last-child {
	border-radius: 0 0 0.5rem 0.5rem;
}


.single-color p {
	text-align: center;
	padding: 1em 0;
	transition: padding-top 0.3s;
}

.single-color p:hover {
	padding-top: 1.5rem;
}

.light-type {
	color: white;
}

.dark-type {
	color: gray;
}

.color-swatch .single-color p {
	margin: 0;
}

#color-swatch-reds .single-color:nth-child(1) {
	background-color: #ffd414;
}

#color-swatch-reds .single-color:nth-child(2) {
	background-color: #ffe880;
}

#color-swatch-reds .single-color:nth-child(3) {
	background-color: #fffbe8;
	border: solid grey 1px;
}

#color-swatch-blues .single-color:nth-child(1) {
	background-color: #ff5d80;
}

#color-swatch-blues .single-color:nth-child(2) {
	background-color: #ff9ab0;
}

#color-swatch-blues .single-color:nth-child(3) {
	background-color: #ffeff2;
	border: solid grey 1px;
}

#color-swatch-greys .single-color:nth-child(1) {
	background-color: #222;
}

#color-swatch-greys .single-color:nth-child(2) {
	background-color: #810bb8;
}

#color-swatch-greys .single-color:nth-child(3) {
	background-color: rgb(248, 248, 248);
	border: solid grey 1px;
}